<section class="contact-section">
    <div class="container">

        <a type="button" href="/administrar" class="btn btn-primary btn-lg "><i class="fas fa-chevron-left"></i>
            Volver</a><br>
        <br>
        {{> whatsapp}}

</section>
</div>