<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>

<div class="container">

    <div class="row">

        <div class="col mt-3">
            <div class="col ">

                <a type="button" href="/administrar/productos" class="btn btn-primary btn-lg "><i
                        class="fas fa-chevron-left"></i>
                    Volver</a>

            </div>

        </div>

    </div>

    <div class="row mt-3 align-items-center justify-content-center">

        <div class="col">

            <div class="card border border-primary">

                <h4 class="card-header"><b>Subir Productos</b></h4>

                <div class="card-body">

                    <form method="POST" class="row g-3">

                        <div class="col col-sm-12 col-md-12 col-lg-4 mb-2 col-12">

                            <label class="form-label" id="imagenes"><b>*Imágenes del Producto:</b></label>

                            <p class="text-muted mt-1 mb-1">Archivos tipo: .jpg, .jpeg, .png</p>
                            <p class="text-muted mt-1 mb-1" id="max-archivos">Cantidad Máxima de archivos: 1</p>

                            <div class="dropzone" id="dropzoneForm">

                            </div>

                        </div>

                        <div class="col col-sm-12 col-md-12 col-lg-6 mb-2 col-12">
                            <div class="card border border-secondary">

                                <div class="card-body">

                                    <div class="row g-3">

                                        <div class="col-md-12">
                                            <label class="form-label"><b>*Nombre del Producto:</b></label>
                                            <input type="text" id="prod_nombre" name="prod_nombre" class="form-control"
                                                value="" required>
                                        </div>

                                        <div class="col-md-12">
                                            <label class="form-label"><b>*Descripción:</b></label>
                                            <textarea type="text" id="prod_descripcion" style="height: 100px;"
                                                name="prod_descripcion" class="form-control" required></textarea>
                                        </div>

                                        <div class="col-md-12" id="items">

                                            <div class="row mb-2">

                                                <div class="col">
                                                    <label class="form-label"><b>*Items:</b></label>

                                                </div>

                                                <div class="col text-end">
                                                    <label class="btn btn-secondary" onclick="addopciones()">+</label>

                                                </div>

                                            </div>

                                            <div class="row mb-2 items" id="prod_0">

                                                <div class="col-1">
                                                    <label class="btn btn-secondary">1</label>
                                                </div>

                                                <div class="col">
                                                    <input type="number" name="stock[]" placeholder="stock"
                                                        class="form-control" value="" required min="1"
                                                        oninput="validity.valid||(value='');">
                                                </div>

                                                <div class="col">
                                                    <input type="text" name="color[]" placeholder="color"
                                                        class="form-control" value="" required>
                                                </div>

                                                <div class="col">
                                                    <input type="text" name="talla[]" placeholder="tallas"
                                                        class="form-control" value="" required>
                                                </div>

                                                <div class="col">

                                                    <input type="number" name="precio[]" placeholder="precio"
                                                        class="form-control" value="" required min="1">
                                                </div>

                                            </div>


                                        </div>

                                        <div class="col-md-12 text-end">

                                            <button class="btn btn-success" id="btn_guardar" type="submit">Crear
                                                producto</button>

                                        </div>

                                    </div>


                                </div>

                            </div>


                        </div>

                        <div class="col col-sm-12 col-md-12 col-lg-2 mb-2 col-12">


                            <div class="card border border-secondary">

                                <div class="card-body">

                                    <div class="col-md-6">
                                        <label class="form-label"><b>*Categorias:</b></label>
                                        {{#each categorias}}

                                        <div class="form-check categorias">
                                            <input class="form-check-input" name="categorias[]" type="checkbox"
                                                value="{{nombre}}">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{nombre}}
                                            </label>
                                        </div>

                                        {{/each}}

                                    </div>

                                </div>

                            </div>
                        </div>


                    </form>

                </div>

            </div>

        </div>


    </div>

</div>

<script src="/js/products_options.js"></script>