<div class="container">

    <div class="row align-items-center justify-content-center vh-100">

        <div class="col text-center">

            <h1>Oops!</h1>

            <h1>500:Internal Server Error</h1>

            <h1>Error Interno en el servidor</h1>

        </div>

    </div>
    
</div>