<div class="container">

    <div class="row align-items-center justify-content-center " style="margin-top: 15px;">

        <div class="col-md-5">

            <div class="card p-3 " style="box-shadow: 0 2px 10px rgba(0,0,0,.075);">

                <h4 class="text-center"><b>Cambiar contraseña</b></h4>

                <div class="card-body">

                    <form class="row g-3" method="POST">

                       <div class="col-md-12">
                            <label class="form-label fs-5"><b>* Contraseña:</b></label>
                            <div class="input-group">
                                <input type="password" class="form-control fs-5" name="clave" value="{{usuario.clave}}"
                                    placeholder="Contraseña de Acceso" required>
                                <span class="input-group-text btn_ver_clave"><i class="fa fa-eye-slash"></i></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label fs-5"><b>* Repetir Contraseña:</b></label>
                            <div class="input-group">
                                <input type="password" class="form-control fs-5" name="confirm_clave"
                                    value="{{usuario.confirm_clave}}" placeholder="Confirmar Contraseña" required>
                                <span class="input-group-text btn_ver_clave"><i class="fa fa-eye-slash"></i></span>
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-block fs-4"  href="/cambiarpassword/{{token}}">Cambiar Contraseña</button>
                        </div>

                        <a href="/login" class="text-end" style="text-decoration: none;">Iniciar sesión</a>

                        <hr>
                        <a type="button" href="/registro" class="btn btn-success btn-lg mt-3">Crear Nueva Cuenta</a>

                    </form>

                </div>

            </div>

        </div>

    </div>


</div>