<div class="container">

    <h4><strong>Mi carrito</strong></h4>

    {{> table_carrito}}

    <form method="post" id="form" action="/carrito/pedir"></form>
    <div class="card mt-3">

        <div class="card-footer">
            <div class="row text-end">
                <div class="col">
                    <h4>Total de compra: $ {{total}}</h4>
                    {{#unless (equalscero total) }}
                    <button class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#modal_confirmacion" data-mensaje="¿Estás Seguro de Realizar el pedido?"><i class="fas fa-cart-plus"></i> Crear Pedido</button>
                    {{/unless}}
                </div>
            </div>

        </div>

    </div>

</div>

{{> modal_confirmacion}}

