

    <link rel="stylesheet" href="css/flipbook.css">
    <script src="js/flipbook.js" defer></script>
    <script src="https://kit.fontawesome.com/b0f29e9bfe.js" crossorigin="anonymous"></script>


<body1>  
                                              
    <!-- Previous Button -->
    <button id="prev-btn">
        <i class="fas fa-arrow-circle-left"></i>
    </button>


    <!-- Book -->
    <div id="book" class="book">
        <!-- Paper 1 -->
        <div id="p1" class="paper">
            <div class="front">
                <div id="f1" class="front-content">
                    
                    <h1>
                        <img src="/img/caballero.jpeg" style="width: 100%;"/>
                    </h1>
                </div>
            </div>
            <div class="back">
                <div id="b1" class="back-content">
                    <h1><img src="/img/dama.jpeg" style="width: 100%;"/></h1>
                </div>
            </div>
        </div>
        <!-- Paper 2 -->
        <div id="p2" class="paper">
            <div class="front">
                <div id="f2" class="front-content">
                    <h1><img src="/img/dama.jpeg" style="width: 100%;"/></h1>
                </div>
            </div>
            <div class="back">
                <div id="b2" class="back-content">
                    <h1><img src="/img/caballero.jpeg" style="width: 100%;"/></h1>
                </div>
            </div>
        </div>
        <!-- Paper 3 -->
        <div id="p3" class="paper">
            <div class="front">
                <div id="f3" class="front-content">
                    <h1><img src="/img/caballero.jpeg" style="width: 100%;"/></h1>
                </div>
            </div>
            <div class="back">
                <div id="b3" class="back-content">

                    <h1>Back 3</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Next Button -->
    <button id="next-btn">
        <i class="fas fa-arrow-circle-right"></i>
    </button>
    </body1>


    <body2>  
                                              
    <!-- Previous Button -->
    <button id="prev-btn">
        <i class="fas fa-arrow-circle-left"></i>
    </button>


    <!-- Book -->
    <div id="book" class="book">
        <!-- Paper 1 -->
        <div id="p1" class="paper">
            <div class="front">
                <div id="f1" class="front-content">
                    
                    <h1>
                        <img src="/img/caballero.jpeg" style="width: 100%;"/>
                    </h1>
                </div>
            </div>
            <div class="back">
                <div id="b1" class="back-content">
                    <h1><img src="/img/dama.jpeg" style="width: 100%;"/></h1>
                </div>
            </div>
        </div>
        <!-- Paper 2 -->
        <div id="p2" class="paper">
            <div class="front">
                <div id="f2" class="front-content">
                    <h1><img src="/img/dama.jpeg" style="width: 100%;"/></h1>
                </div>
            </div>
            <div class="back">
                <div id="b2" class="back-content">
                    <h1><img src="/img/caballero.jpeg" style="width: 100%;"/></h1>
                </div>
            </div>
        </div>
        <!-- Paper 3 -->
        <div id="p3" class="paper">
            <div class="front">
                <div id="f3" class="front-content">
                    <h1><img src="/img/caballero.jpeg" style="width: 100%;"/></h1>
                </div>
            </div>
            <div class="back">
                <div id="b3" class="back-content">

                    <h1>Back 3</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Next Button -->
    <button id="next-btn">
        <i class="fas fa-arrow-circle-right"></i>
    </button>
    </body2>

