
<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="text-center d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap">
                        <img src="/img/bannercontacto.jpeg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- slider Area End-->

<!-- ================ contact section start ================= -->
<section class="contact-section">
    <div class="container">
        <div class="row mt-3">

            <div class="col-lg-8">

                <div class="card mb-2">

                    <h3 class="card-header">Llena el siguiente formulario y contacte con nosotros!</h3>

                    <div class="card-body">

                        <form action="" method="post" id="contactForm">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="message" id="message" rows="3"
                                            placeholder=" Ingresa el mensaje"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <div class="form-group">
                                        <input class="form-control valid" name="name" id="name" type="text"
                                            placeholder="Ingresa tu nombre">
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <div class="form-group">
                                        <input class="form-control valid" name="email" id="email" type="email"
                                            placeholder="Ingresa tu correo">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="subject" id="subject" type="text"
                                            placeholder="Ingresa el asunto">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="btn btn-success">Enviar Mensaje</button>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media contact-info">
                            <div class="media-body">
                                <h5>EL ORO, ECUADOR.</h5>
                                <p>Huaquillas, 070703</p>
                                <p>José Peralta entre Hualtaco y 10 de Agosto</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <div class="media-body">
                                <h5>CLARO</h5>
                                <p>+593 968 766 671</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <div class="media-body">
                                <h5>Correo Electrónico</h5>
                                <p>calzadoivan@gmail.com</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->