<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
 

<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="text-center d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap"> 
                        </br>
                        <div id="myMap" style="height: 600px"></div>
                        </br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- slider Area End-->

<!-- ================ contact section start ================= -->
<section class="contact-section">
    <div class="container">
        <div class="row mt-3">

            <div class="col-lg-8">

                <div class="card mb-2">

                    <h3 class="card-header">Llena el siguiente formulario y contacte con nosotros!</h3>

                    <div class="card-body">

                        <form action="" method="POST" id="contactForm">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="message" id="message" rows="3"
                                            placeholder=" Ingresa el mensaje" value="{{usuario.mensaje}}" required></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <div class="form-group">
                                        <input class="form-control valid" name="name" id="name" type="text"
                                            placeholder="Ingresa tu nombre" value="{{usuario.name}}" required>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <div class="form-group">
                                        <input class="form-control valid" name="email" id="email" type="email"
                                            placeholder="Ingresa tu correo" value="{{usuario.identificacion}}" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="subject" id="subject" type="text"
                                            placeholder="Ingresa el asunto"value="{{usuario.asunto}}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary btn-block fs-4" type="submit">Enviar correo</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media contact-info">
                            <div class="media-body">
                                <h5>EL ORO, ECUADOR.</h5>
                                <p>Huaquillas, 070703</p>
                                <p>José Peralta entre Hualtaco y 10 de Agosto</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <div class="media-body">
                                <h5>CLARO</h5>
                                <p>+593 968 766 671</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <div class="media-body">
                                <h5>Correo Electrónico</h5>
                                <p>calzadoivan@gmail.com</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
  <script src="/js/map.js"></script>
