<div class="container">
    
    <img src="/img/damas.jpeg" class="img-fluid"/>
    
    <div class="row mt-2">

        <div class="col-md-3">
            <div class="card">
                <h4 class="card-header text-center"><b>Filtros</b></h4>

                <div class="card-body">

                    <select class="form-select fs-5" name="precio" required>
                        <option disabled selected value="">Precios</option>
                        <option value="MAYOR">Mayor a Menor</option>
                        <option value="MENOR">Menor a Mayor</option>
                    </select>

                    <select class="form-select fs-5 mt-3" name="categorias" required>
                        <option disabled selected value="">Categorias</option>
                        <option value="CASUALES">Casuales</option>
                        <option value="DEPORTIVOS">Deportivos</option>
                    </select>

                    <select class="form-select fs-5 mt-3" name="tallas" required>
                        <option disabled selected value="">Tallas</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>

                    <select class="form-select fs-5 mt-3" name="color" required>
                        <option disabled selected value="">Colores</option>
                        <option value="Azul">Azul</option>
                        <option value="Verde">Verde</option>
                    </select>

                </div>

            </div>
        </div>

        <div class="col-md-9">

            <div class="card">

                <h4 class="card-header text-center"><b>Productos de Damas</b></h4>

                <div class="card-body">

                    <div class="row">

                        <div class="col-md-3 mb-2">

                            <div class="card">
                                <a href="/">
                                    <img src="https://static.rockcity.com.br/public/rockcity/imagens/produtos/tenis-vans-authentic-verde-agua-69516.jpg"
                                        class="img-fluid card-img-top " alt="...">
                                </a>
                                <div class="card-body text-center">
                                    <strong>
                                        <p class="text-center mb-1">Vans Verde</p>
                                    </strong>
                                    <h5 class="text-center mb-2" style="color: green;">$ 100</h5>
                                    <div class="container d-flex justify-content-between align-items-center mb-2">

                                        <span><i class="fas fa-eye"></i> 1 </span>
                                        <span><i class="fas fa-heart" style="color: red;"></i> 0 </span>

                                    </div>

                                    <button class="btn btn-primary" role="button"><i class="fas fa-cart-plus"> Añadir al
                                            Carrito</i></button>


                                </div>
                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>


</div>