<div class="container text-center">
    
    <img src="https://cdn.shopify.com/s/files/1/0369/2242/5484/files/Banner_Web_1980X480_Tacones.jpg?v=1588978506" class="img-fluid"/>
    
    <div class="row mt-2">

        <div class="col-md-3">
            
            {{> filtros}}

        </div>

        <div class="col-md-9">

            <div class="card">

                <h4 class="card-header text-center"><b>Productos de damas</b></h4>

                <div class="card-body">

                    <div class="row">

                        
                        {{> item}}


                    </div>

                </div>

            </div>

        </div>

    </div>


</div>