
<div class="container mt-3">
    {{> carrusel}}

    {{> novedad}}

        <link href="/css/styles.css" rel="stylesheet"/>

        <div class="history-video-area fix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="video-bg wow fadeInLeft" data-wow-delay=".2s">
                            <img src="/img/caballero.jpeg" alt=""> 
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Section Tittle 03 -->
                        <div class="section-tittle03 section-tittle02 wow fadeInRight" data-wow-delay=".9s">
                            <h2>Caballeros</h2>
                        </div>
                        <div class="video-history-cap wow fadeInRight" data-wow-delay=".2s">
                            <h3>Calzado para Caballeros</h3>
                            <p>Duis aute irure dolor inasfa reprehenderit in voluptate velit esse cillum reeut cupidatatfugiat nulla pariatur. Excepteur sintxsdfas occaecat, cupidatat non proidente sunt in culpa qui officia deserunt, mollit anim id est laborum. Sedut des perspiciatis unde omnis iste.</p>
                            <a href="/caballeros" class="btn">Ver Calzados</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>


        <div class="history-video-area fix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Section Tittle 03 -->
                        <div class="section-tittle03 section-tittle02 wow fadeInRight" data-wow-delay=".9s">
                            <h2>DAMAS</h2>
                        </div>
                        <div class="video-history-cap wow fadeInRight" data-wow-delay=".2s">
                            <h3>Calzado para Damas</h3>
                            <p>Duis aute irure dolor inasfa reprehenderit in voluptate velit esse cillum reeut cupidatatfugiat nulla pariatur. Excepteur sintxsdfas occaecat, cupidatat non proidente sunt in culpa qui officia deserunt, mollit anim id est laborum. Sedut des perspiciatis unde omnis iste.</p>
                            <a href="/damas" class="btn">Ver Calzados</a>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="video-bg wow fadeInLeft" data-wow-delay=".2s">
                            <img src="/img/dama.jpeg" alt=""> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

</div>
 
