<div class="container mt-3">

    {{> carrusel}}

    {{> novedad}}


    <div class="card mt-3">

        <h4 class="card-header text-center"><b>Calzado para Caballero</b></h4>

        <div class="card-body">

            <div class="row">

                <div class="col">
                    <img src="/img/caballero.jpeg" class="img-fluid " style="width: 300px;">
                </div>

                <div class="col">
                    <h5>Este es calzado para Hombres</h5>
                </div>

            </div>

        </div>

    </div>

    <div class="card mt-3">

        <h4 class="card-header text-center"><b>Calzado para Damas</b></h4>

        <div class="card-body">

            <div class="row">

                <div class="col">
                    <img src="/img/dama.jpeg" class="img-fluid " style="width: 300px;">
                </div>

                <div class="col">
                    <h5>Este es calzado para Hombres</h5>
                </div>

            </div>

        </div>

    </div>
    

</div>