
<div class="container text-center">

    <img src="/img/ofertas.jpeg" class="img-fluid" />

    <div class="row mt-2">

        <div class="col-md-3">
            
            {{> filtros}}
            
        </div>

        <div class="col-md-9">

            <div class="card">

                <h4 class="card-header text-center"><b>Productos de Oferta</b></h4>

                <div class="card-body">

                    <div class="row">

                       {{> item}}


                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
