<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="/img/calzado_hombre.jpg" class="d-block w-100" style="max-height: 500px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <a class="btn btn-primary mb-2" href="/caballeros">Ver más</a>
                <h4 class="text-black" style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white" ><strong>Calzado Casual para Caballeros</strong></h4>
                <p style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black">¡Explora nuestra colección de ropa para Caballeros!</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://encolombia.com/wp-content/uploads/2019/07/como-elegir-zapatos.jpg" class="d-block w-100" style="max-height: 500px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <a class="btn btn-primary mb-2" href="/damas">Ver más</a>
                <h4 class="text-black" style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white" ><strong>Calzado Casual para Damas</strong></h4>
                <p style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black">¡Explora nuestra colección de ropa para Damas!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://s28461.pcdn.co/wp-content/uploads/2016/06/12-tips-saludables-para-seleccionar-zapatos.jpg" class="d-block w-100" style="max-height: 500px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <a class="btn btn-primary mb-2" href="/ofertas">Ver más</a>
                <h4 class="text-black" style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white" ><strong>Ofertas Especiales</strong></h4>
                <p style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black">¡Explora nuestros increibles precios!</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>