<div class="card mt-3">

    <h4 class="card-header text-center"><b>Últimos productos</b></h4>

    <div class="card-body">

        <div id="carousel-multi-example" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel-multi-example" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel-multi-example" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel-multi-example" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Vans Verde</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 clearfix d-none d-md-block">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                    alt="Card image cap">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Vans Verde</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 clearfix d-none d-md-block">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                                    alt="Card image cap">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Vans Verde</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 clearfix d-none d-md-block">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                                    alt="Card image cap">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Vans Verde</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                                    alt="Card image cap">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Vans Verde</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 clearfix d-none d-md-block">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                                    alt="Card image cap">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Vans Verde</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 clearfix d-none d-md-block">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                                    alt="Card image cap">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Vans Verde</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 clearfix d-none d-md-block">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                                    alt="Card image cap">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Vans Verde</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Vans Verde</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 clearfix d-none d-md-block">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                                    alt="Card image cap">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Vans Verde</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 clearfix d-none d-md-block">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                                    alt="Card image cap">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Vans Verde</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 clearfix d-none d-md-block">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                                    alt="Card image cap">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Vans Verde</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-multi-example"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-multi-example"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>

            </button>
        </div>

    </div>

</div>